.contenedor{
    text-align: center;
    display: grid;
    grid-template-columns: 500px 500px 500px 500px ;
    grid-template-rows: 500px 500px 50px;
    grid-template-areas: 
    'ba ba ba ba '
    'en con con con '
    'pie pie pie pie'
    
    
    
    ;
}
header{
    background-color: blueviolet;
    grid-area: ba;
}
#Enlaces{
    background-color: rgb(38, 53, 80);
    grid-area: en;
}
#con{
    background-color: rgb(14, 30, 48);
    grid-area: con;
    color: aliceblue;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
footer{
    background-color: rgb(53, 98, 109);
    grid-area: pie;
}
img{
    width: 2000px;
    height: 500px;

}
footer{
    color: aliceblue;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
a{
    color: aliceblue;
    text-decoration: none;
    margin: 6px;
    
}
    